.about {
  padding: 0 50px;

  &__container {
    max-width: rem(1760);
    padding: 0 rem(20);
    width: 100%;
    overflow: hidden;
  }

  &__title {
    color: var(--black, #3E3B37);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: rem(25);
  }

  &__subtitle {
    color: var(--black, #3E3B37);
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: rem(32);
  }

  &__link {
    color: var(--main, #CA9E6E);
    font-family: Inter;
    font-size: 32.459px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.869px;

    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.9596 1.6368L6.8701 0.451998L4.56715 2.75495L24.9584 4.01266L0.883093 28.088L2.72545 29.9303L26.5857 6.07002L27.8269 26.4753L30.1299 24.1724L28.9596 1.6368Z' fill='%23CA9E6E'/%3E%3C/svg%3E");
    }
  }

  &__slider {
    margin-top: rem(136);
    display: flex;
    gap: rem(45);
    padding: 0 rem(145);
    overflow: hidden;
    position: relative;

    // подложка под стрелочками 
    &::before,
    &::after {
      content: "";
      background: #fff;
      width: 110px;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
    }
    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      z-index: 3;
      cursor: pointer;
      max-width: rem(100);
      top: 50%;
      transform: translateY(-50%);

      svg {
        width: 100%;
        height: auto;
      }
    }

    .swiper-button-next {
      right: 0;
    }
  }

  &__slider-wrapper {
    order: 2;
  }

  &__slide {
    max-width: rem(447);
    margin-right: 43px;
  }

  &__slide-title {
    color: var(--black, #3E3B37);
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.267px;
    width: 100%;
    border-bottom: 2px solid #CACACA;
    padding-bottom: rem(24);
    margin-bottom: rem(18);
  }

  &__slide-text {
    color: var(--black, #3E3B37);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 122.727% */
  }

  &__image {
    margin-top: rem(110);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__mission {
    margin-top: rem(120);
  }

  &__mission-title {
    color: var(--black, #3E3B37);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.811px;
    text-transform: uppercase;
    display: inline-block;
    align-items: center;
  }

  &__mission-subtitle {
    color: var(--grey, #989898);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    // line-height: 62px;
    letter-spacing: 3px;
    margin-right: rem(50);
    position: relative;
    top: -5px;
    text-align: left;

  }

  &__team {
    margin-top: rem(130);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  &__team-title {
    color: var(--black, #3E3B37);
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65.497px;
    letter-spacing: 3px;
  }

  &__team-wrapper {
    margin-top: rem(52);
  }

  &__team-slide {
    max-width: rem(402);
    margin-right: rem(87);
    transform: scale(0.7) translate3d(-12%, 12%, 0) !important;
    height: auto;
    max-height: 70%;

    &.swiper-slide-active {
      max-height: 100%;
      transform: scale(1) translate3d(0, 0, 0) !important;
    }
  }

  &__team-image {
    max-height: rem(480);
    margin-bottom: rem(23);
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__team-name {
    color: var(--black, #3E3B37);
    font-family: Arimo;
    font-size: 27.613px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.914px;
    text-transform: uppercase;
    margin-bottom: rem(11);
  }

  &__team-position {
    color: var(--grey, #989898);
    font-family: Arimo;
    font-size: 16.108px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.409px;
    text-transform: uppercase;
  }

  &__team-navigate {
    display: flex;
    gap: rem(40);

    .swiper-button-prev,
    .swiper-button-next {
      max-width: rem(100);

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  .about__team-navigate{
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 10;
  }
  .about__team-counter{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 46px;
    padding-right: 50px;
    .current{
      color: #CA9E6E;
    }
  }
}
@media (max-width:1620px){
  .about__subtitle{
  font-size: 38px;
  }
  .about__container{
  padding: 0;
  }
  .about__link{
  font-size: 27px;
  }
  .about__mission-title{
  font-size: 45px;
  }
}
@media (max-width: 1240px){
  .about__mission-title{
    font-size: 35px;
  }
}
@media (max-width: 845px){
  .about__mission-title{
    font-size: 30px;
    letter-spacing: 5px;
    text-align: left;
  }

  .about__team-slide {
    max-width: 100%;
    margin-right: rem(55);
    transform: scale(1) translate3d(0, 0, 0) !important;

    &.swiper-slide-active {
      max-width: 100%;
      width: 100%;
      transform: scale(1) translate3d(0, 0, 0) !important;
    }
  }
  .about__team-title{
    width: 100%;
    padding-bottom: 5px;
  }
  .about__team-image img{
    padding-right: 100px;
  }
  .about .about__team-navigate{
    display: flex;
    flex-direction: column;
    top: 170px;
  }
  .swiper-button-prev-order{
    order: 2;
  }
  .swiper-button-next-order{
    order: 1;
  }
  .about__team-navigate .swiper-button-prev svg, .about__team-navigate .swiper-button-next svg {
    width: 85px;
  }

}
@media (max-width: 746px){
  .about__link{
    font-size: 18px;
    &::after{
      margin-left: 10px;
    }
  }
}

@media (max-width:678px){
  .about__link{
    font-size: 14px;
    letter-spacing: 2px;
    &::after{
      margin-left: 5px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 31 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.9596 1.6368L6.8701 0.451998L4.56715 2.75495L24.9584 4.01266L0.883093 28.088L2.72545 29.9303L26.5857 6.07002L27.8269 26.4753L30.1299 24.1724L28.9596 1.6368Z' fill='%23CA9E6E'/%3E%3C/svg%3E");
    }
  }
  .about{
    padding-top: 20px;
  }
  .about__title{
    font-size: 28px;
  }
  .about__image{
    margin-top: 2rem;
  }
  .about__mission{
    margin-top: 3rem;
  }
  .about__subtitle{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .about__slider{
    margin-top: 63px;
  }
  .about__mission-title{
    font-size: 24px;
  }
  .about__slide-title{
    font-size: 20px;
  }
  .about__team{
    margin-top: 4rem;
  }
  .about__slide-text{
    font-size: 16px;
  }
  .about__slider .swiper-button-prev svg, .about__slider .swiper-button-next svg,
  .about__slider::before, .about__slider::after,
  .about__slider .swiper-button-prev, .about__slider .swiper-button-next{
    display: none;
  }
  .about__slide{
    max-width: 100%;
  }
  .about__slider{
    padding: 0;
  }
  .about__team-title{
    font-size: 20px;
    line-height: 25px;
  }
  .about__team-counter,
  .current,
  .total{
    font-size: 20px;
  }
}
@media (max-width: 530px){

  .about__mission-title{
    letter-spacing: 1px;
  }
  .about__slider{
    margin-top: 30px;
  }
  .about__team-navigate .swiper-button-prev svg, .about__team-navigate .swiper-button-next svg {
    width: 70%;
  }
  .about__team{
    margin-top: 2rem;
  }
  .about__team-name{
    margin-top: 0.75rem;
  }
  .about__team-navigate{
    gap: 10px;
    margin: 0 auto;
  }
  .about{
    padding-bottom: 30px;
  }
  .about__title{
    font-size: 24px;
  }
  .about__subtitle{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .about .about__team-navigate{
    display: none;
  }
  .about__team-image img{
    padding-right: 0;
  }
  .about{
    padding: 0 20px;
  }
}
@media (max-width: 420px){
  .about__mission-subtitle{
    margin-right: 12.125rem;
    text-wrap: nowrap;
    font-size: 15px;
  }
  .about__mission-title{
    font-size: 20px;
    text-align: left;
    max-width: 100%;
  }
  .about__subtitle{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 26px;
  }
  .about__title{
    font-size: 18px;
  }
  .about__link{
    letter-spacing: 1px;
  }
}