.projects {
  // padding: rem(130) 0 rem(120);

  &__container {
    max-width: rem(1734);
    padding: 0;
  }

  &__title {
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3px;
    margin-bottom: rem(60);

    @include media-mx(1734) {
      padding-left: rem(20);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: rem(60);
  }

  &__box {
    position: relative;
  }

  &__box-img {
    max-height: rem(665);
    width: 100%;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__box-content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    inset: 0;
    padding: rem(95) rem(145) rem(65);
  }

  &__box-title {
    color: #FFF;
    font-family: Arimo;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    max-width: rem(615);
  }

  &__box-text {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: rem(415);
    margin-bottom: auto;
  }

  &__box-link {

    max-width: rem(105);

    svg {
      width: 100%;
      transition: all 0.5s;
    }

    &:hover {
      svg {
        transform: rotate(45deg);
      }

    }
  }
  @media (max-width: 1322px){
    .projects__box-content{
      padding: 45px 125px;
    }
  }
  @media (max-width: 1184px){
    .projects__box-content{
      padding: 40px 65px;
      justify-content: space-between;
    }
    .projects__box-title{
      margin-bottom: 20px;
      font-size: 50px;
      max-width: 100%;
    }
    .projects__box-text{
      margin-bottom: 0px;
    }
    .projects__box-img {
      width: 120%;
    }
  }
  @media (max-width: 900px){
    .projects__box-content{
      padding-bottom: 0px;
    }
    .projects__box-link svg{
      max-width: 80px;
      height: auto;
    }
    .projects__box-title{
      font-size: 35px;
      margin-bottom: 15px;
    }
    .projects__box-text{
      font-size: 18px;
    }
    .projects{
      padding: 40px 0;
    }
    .projects__title{
      font-size: 45px;
    }
  }
  @media (max-width:630px){
    .projects__box-content{
      flex-direction: row;
      flex-wrap: wrap;
      padding: 80px 30px;
      .projects__box-title,
      .projects__box-text{
        max-width: 80%;
        width: 100%;
      }
    }
    .projects__box-img {
      width: 150%;
      }
      .projects__title{
        font-size: 30px;
        margin-bottom: 32px;
      }
  }
  @media (max-width: 540px){
    .projects__box-content{
      padding: 40px 30px;
    }
  }
  @media (max-width: 465px){
    .projects__box-content{
      padding: 20px;
    }
    .projects__box-title{
      font-size: 28px;
    }
    .projects__box-text{
      font-size: 16px;
    }
    .projects__box-img {
      width: 300%;
      }
  }
}