@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
// @import 'libs/aos';
@import 'libs/swiper';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Модули используемые в проекте
* Раскоментировать для использования
*/
// @import 'modules-scss/popup';
// @import 'modules-scss/checkbox';
// @import 'modules-scss/tabs';
// @import 'modules-scss/accordion';
/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';

@import 'components/footer';
@import 'pages/projects';
@import 'pages/case';
@import 'pages/about';
@import 'components/header-menu';

$page-backgrounds: (
    1: '@img/background-slide-1.png',
    2: '@img/background-slide-2.png',
    3: '@img/background-slide-3.png',
    4: '@img/background-slide-4.png',
    5: '@img/background-slide-5.png',
    6: '@img/background-slide-6.png',
);
html {
    font-family: Inter;
    font-weight: 400;
    color: #fff;
}
body {
    font-size: 20px;
}
.preloader {
    width: 100vw;
    min-height: 100vh;
    background: #3E3B37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    z-index: 100;    
}
.preloader__image {
    max-width: 345px;
    width: 100%;
}
.preloader__text {
    font-size: 50px;
    color: #989898;
    text-align: center;
}
#page {
    transition: background-image 0.5s ease-in-out;
}
.page {
    width: 100vw;
    min-height: 100%;
    background-image: url('@img/background-slide-1.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.page__title {
    font-size: 40px;
    padding: 20px 20px 32px 20px;
    margin-right: auto;
    display: none;
}
.slider__nav {
    max-width: 360px;
    width: 100%;
    min-height: 100%;
    background: rgba(24, 23, 21, 0.50);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
}
.nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.nav__link {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.7px;
    transition: all ease 0.5s;

    &:hover {
        color: #CA9E6E;
    }
}
.nav__link--active {
    color: #CA9E6E;
}
.nav__lang {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
        cursor: pointer;
    }
}
.lang {
    opacity: 0.7;
    font-size: 13px;
}
.lang-active {
    opacity: 1;
    font-size: 15px;
}
.slider__pagination {
    display: flex;
    gap: 16px;
    margin-bottom: 45px;
    position: absolute;
    bottom: 0;
    right: 51%;
    z-index: 1;
}
.pagination__item__wrapper {
    width: 55px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        .pagination__item {
            background: #3E3B37;
        }
    }
}
.pagination__item {
    width: 50px;
    height: 3px;
    background: #fff;
    transition: all ease 0.5s;
}
.pagination__item--active {
    background: #3E3B37;
}
.slider__information {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    min-height: 100%;
    max-width: 805px;
    width: 100%;
    background: rgba(24, 23, 21, 0.50);
    backdrop-filter: blur(10px);
    padding: 65px 80px 30px 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav__list {
        justify-content: end;
        flex-direction: row;
        gap: 42px;
        padding-right: 40px;
    }
    .nav__link-inf {
        color: #fff;
        font-size: 21px;
        letter-spacing: normal;
        transition: all ease 0.5s;

        &:hover {
            color: #CA9E6E;
        }
    }
}
.information__nav {
    display: flex;
    justify-content: end;
    align-items: center;
}
.information-list {
    display: none;
}
.information__burger-menu {
    position: relative;
    width: 70px;
    height: 32px;
    cursor: pointer;
}
.information__burger-menu::before,
.information__burger-menu::after,
.information__burger-menu div {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease;
}
.information__burger-menu div {
    top: 50%;
    transform: translateY(-50%);
}
.information__burger-menu::before {
    top: 8px;
}
.information__burger-menu::after {
    bottom: 8px;
}
.information__burger-menu.active::before {
    width: 32px;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
}
.information__burger-menu.active::after {
    width: 32px;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
}
.information__burger-menu.active div {
    opacity: 0;
}
.information__counter {
    display: flex;
    align-items: center;
    gap: 16px;
}
.arrow {
    cursor: pointer;
}
.arrow-next {
    transform: rotateY(180deg);
}
.information__block {
    &-1 {
        opacity: 0;
        &.first {
            display: block;
        }
    }
    padding-top: 63px;
    display: none;

    &.active {
        opacity: 1;
        display: block;
    }
}
.block__title {
    font-size: 46px;
    color: #CA9E6E;
    letter-spacing: 3px;
}
.block__text {
    padding-top: 28px;
    line-height: 26px;
    padding-bottom: 32px;
    min-height: 350px;
}
.information__more {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}
.more {
    font-size: 18px;
}
.arrow-more {
    transform: rotateY(180deg);
}
.slider__footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row__title {
    font-size: 40px;
    line-height: 42px;
}
.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.animate {
    opacity: 1;
    animation: slideInRight 1s ease-out forwards;
}

.slider__information,
.information__counter,
.block__title,
.block__text,
.information__more {
    opacity: 0;
}
@media (max-width: 1620px){
    .slider__nav{
        max-width: 300px;
        padding: 70px 15px;
        .nav__link{
            font-size: 16px;
        }
    }
    .slider__information .nav__link-inf{
        font-size: 15px;
    }
    .slider__information{
        max-width: 650px;
        padding-left: 60px;
        padding-top: 50px;
    }
    .block__title{
    font-size: 35px;
    }
    .block__text{
        font-size: 16px;
        min-height: 300px;
    }
    .row__title{
        font-size: 30px;
        line-height: 35px;
    }
    .slider__pagination{
        right: 47%;
    }
    .slider__information .nav__list{
        gap: 30px;
        padding-right: 30px;
    }
    .information__block{
        padding-top: 30px;
    }
    .slider__footer__row {
        padding-bottom: 15px;
    }
}
@media (max-width: 1440px){
    .slider__pagination{
        gap: 8px;
        right: 50%;
    }
    .pagination__item{
        width: 40px;
    }
    .pagination__item__wrapper{
        width: 45px;
    }
}

@media (max-width: 1300px){
    .slider__nav{
        max-width: 290px;
        padding: 80 15px;
        .nav__link{
            font-size: 17px;
        }
    }
    .slider__information{
        max-width: 550px;
        padding-left: 50px;
    }
    .block__title{
    font-size: 30px;
    }
    .slider__pagination{
        right: 47%;
    }
    .slider__information .nav__list{
        gap: 30px;
        padding-right: 30px;
    }
    .information__block{
        padding-top: 0px;
    }
}
@media (max-width: 1192px){
    .slider__nav{
        display: none;
    }
    .slider__pagination{
        left: 5%;
        right: auto;
    }
}
@media (max-width:1228px) {
    .footer__content {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .footer__form,
    .footer__messenger-all,
    .footer__phone-all,
    .footer__social-all {
        max-width: 50%;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .slider__pagination{
        display: none;
    }
    .slider__information{
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .footer__content {
        row-gap: 0;
    }
    .footer__form {
        order: 1;
        margin-bottom: 48px;
        max-width: 80%;
    }
    .footer__phone-all {
        order: 2;
        max-width: 50%;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__social-all {
        order: 3;
        max-width: 50%;
        width: 100%;
    }
    .footer__messenger-all {
        order: 4;

        .footer-title {
            display: none;
        }
    }
    .preloader__image {
        max-width: 245px;
        width: 100%;
    }
    .preloader__text {
        font-size: 30px;
    }
    .page {
        background: url('@img/background-slide-1.png') no-repeat center top;
        background-size: 140%;
        background-color: #221F1D;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        .slider {
            order: 2;
        }
    }
    .block__title {
        font-size: 25px;
    }
    .information__more {
        margin-bottom: 0px;
    }
    .information__counter,
    .information__block {
        margin-top: 0px;
        padding-top: 0px;
    }
    .slider__nav,
    .slider__footer__row,
    .information__counter,
    .information__nav {
        display: none;
    }
    .slider__information {
        position: static;
        z-index: 10;
        min-height: 470px;
        max-width: calc(100% - 40px) ;
        margin-top: 5%;
        padding: 32px 14px;
    }
    .slider__pagination {
        gap: 10px;
        position: static;
        display: flex;
        margin-top: 20px;
    }
    .pagination__item__wrapper {
        width: 25px;
    }
    .pagination__item {
        width: 20px;
    }
    .header__menu {
        display: flex;
    }
    .page__title {
        display: block;
    }
}
@media (max-width: 490px){
    .slider__information{
        min-height: 510px;
    }
}
@media (max-width: 432px) {
    .page__title{
        font-size: 30px;
        padding: 15px 15px 15px 20px;
    }
    .block__title {
        font-size: 20px;
    }
    .block__text p,
    .more {
        font-size: 14px;
    }
    .slider__information {
        min-height: 455px;
    }
    .footer-title{
        font-size: 23px;
    }
    .footer__social-all{
        order: 2;
        max-width: 70%;
        margin-bottom: 50px;
    }
    .footer__phone-all{
        order: 3;
        max-width: 70%;
    }
    .footer__messenger-all{
        order: 4;
        max-width: 70%;
    }
    .footer__form{
        max-width: 100%;
    }
    .preloader__image {
        max-width: 200px;
    }
    .preloader__text {
        font-size: 25px;
    }
}
@media (max-width: 362px) {
    .block__title {
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .slider__nav{
        display: none;
    }
    .slider__pagination{
        right: auto;
        left: 5%;
    }
}